amarillo      = #F0AD4E
amarilloHover = #EC971F
amarilloPhore = #FFC200
amarilloTexto = #C67215
amarilloTextoHover = #C67215
azul          = #015292
azulHover     = #014275
azulBack      = #DFF0D8
azulUndac     = #063F9D
azulOscuro    = #024A82
azulPhore     = #0141DE
celeste       = #5BC0DE
celesteHover  = #31B0D5
moradoPhore   = #4607E1
negro         = #353535
negroOscuro   = #202020
negroTexto    = #505050
negroPlomo    = #363C46
plomo         = #F8F8F8
plomoBack     = #E1E0E0
plomoOscuro   = #DDDDDD
plomoTexto    = #999999
plomoHr 	  = #EEEEEE
plomoButton   = #848383
plomoButtonHover   = #555353
plomoInput    = #ADADAD
verde         = #5CB85C
verdeClaro    = #DFF0D8
verdeHover    = #449D44
verdePhore    = #016800
verdeTexto    = #3C763D
rojo          = #D9534F
rojoHover     = #C9302C
rojoPhore     = #CD0000
rojoTexto     = #9D2222


// new palete
naranja_ = #E33A00
amarillo_ = #E3AD00

// login
l_azul = #353342
l_rojo = #F1615E


test(color = red)
	border 1px solid color
	box-sizing border-box
	